@model WebApplicationDotNetCore1.BO.StudentBO

@{
    ViewData["Title"] = "EditStudent";
}

<h1>EditStudent</h1>

<h4>StudentBO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditStudent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FN" class="control-label"></label>
                <input asp-for="FN" class="form-control" />
                <span asp-validation-for="FN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LN" class="control-label"></label>
                <input asp-for="LN" class="form-control" />
                <span asp-validation-for="LN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RollNo" class="control-label"></label>
                <input asp-for="RollNo" class="form-control" />
                <span asp-validation-for="RollNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marks" class="control-label"></label>
                <input asp-for="Marks" class="form-control" />
                <span asp-validation-for="Marks" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Branch" class="control-label"></label>
                <input asp-for="Branch" class="form-control" />
                <span asp-validation-for="Branch" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetAllStudents">Back to List</a>
</div>

